@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --color-theme-fg-02: #d7d6d5;
    --color-theme-card-hex: #1b1913;
    --color-theme-card-rgb: 27 29 39;
    --color-theme-card-01-hex: #1d1b15;
    --color-theme-card-02-hex: #201e18;
    --color-theme-card-03-hex: #26241e;
    --color-theme-card-04-hex: #2b2923;
    --color-theme-card-hover-hex: #201e18;
    --color-theme-card-hover-light-hex: #1d1b15;
    --color-theme-product-chrome: var(--color-theme-bg);
    --color-theme-product-editor: var(--color-theme-card-hex);
    --color-theme-accent: #f54e00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    min-height: 100vh;
    font-family: "CursorGothic", "CursorGothic Fallback", Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 52px;
}

main {
    max-width: 1264px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--color-theme-bg);
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 5;

}

.nav-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
    max-width: 1264px;
    height: 52px;
    margin: 0 auto;
}

.nav-brand {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    top: 2px;
}

.logo {
    height: 22.4px;
}

.nav-links {
    margin-top: -2px;
    padding-left: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 14px;
    letter-spacing: -0.2px;
}

.nav-buttons {
    grid-column: 3/-1;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.transparent-btn {
    background-color: var(--color-theme-bg);
    color: var(--color-theme-fg);
    padding: 5.6px 10.5px 5.88px 10.5px;
    font-size: 14px;
    letter-spacing: -0.2px;
    border-radius: 14px;
    border: solid 1px color-mix(in oklab, var(--color-theme-fg) 20%, transparent);
}

.primary-btn {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    padding: 5.6px 10.5px 5.88px 10.5px;
    border-radius: 16px;
    font-size: 14px;
    letter-spacing: -0.2px;
    border: none;
}

.container {
    padding: 112px 20px 64px 20px;
}

.hero-content {
    max-width: 500px;
    margin-bottom: 56px;
}

.hero-content h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -0.2px;
    margin-bottom: 22.4px;
}

.download-btn {
    background-color: var(--color-theme-fg);
    border: 1px solid var(--color-theme-fg);
    color: var(--color-theme-bg);
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    padding: 10px 22px;
    border-radius: 38px;
    letter-spacing: -0.2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    padding-inline-start: .25em;
    display: inline-flex;
}

.hero-image {
    width: 1264px;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.stack-container {
    padding: 0px 20px 30px 20px;
    text-align: center;
}

.stack-container h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.2px;
    margin-bottom: 24px;
}

.logo-garden {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.logo-card {
    background-color: var(--color-theme-card-hex);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 2.5%, transparent);
    border-radius: 4px;
    padding: 12px 8px;
}

.logo-card img {
    width: auto;
    height: 40px;

}

.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    padding: 67px 20px;
}

.feature-card {
    background-color: var(--color-theme-card-hex);
    display: flex;
    align-items: center;
    padding: 17.5px;
    margin: 0 20px;
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 2.5%, transparent);
    border-radius: 4px;
}

.card-reverse {
    flex-direction: row-reverse;
}


.feat-content {
    padding-right: 30px;
    padding-left: 2.5px;
}

.content-reverse {
    padding-right: 2.5px;
    padding-left: 30px;
}

.feat-content h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
}

.feat-content p {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
}

.feat-btn {
    color: var(--color-theme-accent);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
}

.feat-image img {
    width: auto;
    height: 646px;
    border-radius: 4px;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 67px 20px;
}

.testimonial-section h2 {
    text-align: center;
    margin-bottom: 56px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    width: 100%;
    max-width: 1264px;
}

.test-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
}

.test-card {
    background-color: var(--color-theme-card-hex);
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 2.5%, transparent);
    border-radius: 4px;
    padding: 17.5px;
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test-card p {
    font-size: 15.5px;
    font-weight: 400;
    line-height: 1.5;
}

.test-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

.test-info-text h4 {
    font-size: 14px;
    font-weight: 400;
}

.test-info-text p {
    font-size: 14px;
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
}

.test-info img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.frontier {
    padding: 67px 20px;
}

.frontier-container {
    margin: 45px 0px;
}

.frontier-container h2 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 22.4px;
    word-spacing: -1px;
}

.frontier-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.frontier-card {
    background-color: var(--color-theme-card-hex);
    padding: 17.5px;
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 2.5%, transparent);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.front-info h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: -1px;
}

.front-info p {
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: -1px;
}

.frontier-link {
    color: var(--color-theme-accent);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: -1px;
}

.frontier-card img {
    width: auto;
    height: 366px;
}

.log {
    padding: 67px 20px;
}

.log h2 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 22.4px;
}

.log-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}

.log-card {
    background-color: var(--color-theme-card-hex);
    padding: 16px 17.5px 20px 17.5px;
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 2.5%, transparent);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.log-date {
    font-size: 16px;
    font-weight: 400;
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    letter-spacing: -0.4px;
}

.log-card p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: -1px;
}

.log-date span {
    font-size: 14px;
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    padding: 2px 8px;
    border-radius: 12px;
    margin-right: 10px;
    letter-spacing: normal;
}

.log-link {
    color: var(--color-theme-accent);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 22.4px;
}

.team {
    padding: 67px 20px;
}

.team h1 {
    text-align: left;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 22.4px;
    text-wrap: balance;
    width: 800px;
}

.team-btn {
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    padding: 10px 21.5px 12px 21.5px;
    font-size: 15.4px;
    border-radius: 38px;
    width: fit-content;
    margin-bottom: 56px;
    font-weight: 400;
}

.team img {
    max-width: 1224px;
    border-radius: 4px;
}

.highlights {
    margin-top: 67.2px;
    background-color: var(--color-theme-card-hex);
    color: var(--color-theme-fg);
    display: flex;
    width: 99vw;
    margin-left: calc(50% - 50vw);
    justify-content: center;
}

.highlight-container{
    padding: 90px 20px;
    width: 1264px;
    display: flex;
}

.recent {
    width: 306px;
    height: auto;
}

.recent h2 {
    position: sticky;
    top: 64px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.recent-list {
    width: 612px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.recent-card {
    background-color: var(--color-theme-card-02-hex);
    padding: 13.5px 15px 15px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid color-mix(in oklab, var(--color-theme-fg) 2.5%, transparent)
}

.recent-desc {
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    text-wrap: pretty;
}

.recent-link {
    text-decoration: none;
    margin-top: 22.4px;
    color: var(--color-theme-accent);
}

.recent-info {
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    margin-top: 22.4px;
}

.recent-type {
    text-transform: capitalize;
}

.cta-section {
    padding: 134.4px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-container h2 {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 22.4px;
    letter-spacing: -0.03em;
}

.cta-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 38px;
    background-color: var(--color-theme-fg);
    color: var(--color-theme-bg);
    text-align: center;
    width: fit-content;
}

footer {
    background-color: var(--color-theme-card-01-hex);
    width: 100%;
    position: static;
    bottom: 0;
    z-index: -10;
    padding: 67.4px 20px 30px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-container {
    max-width: 1264px;
    margin: 0 auto;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 101px;
    gap: 10px;
}

.footer-col h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    padding-bottom: 4.7px;
}

.footer-col ul {
    list-style-type: none;
}

.footer-col ul li {
    padding: 4.7px 0px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}

.footer-end small {
    color: color-mix(in oklab, var(--color-theme-fg) 60%, transparent);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-copy {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-theme {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.theme {
    background-color: var(--color-theme-card-03-hex);
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 18px;
    padding: 4px 12px 4px 12px;
}

.language {
    background-color: var(--color-theme-card-03-hex);
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    padding: 4px 12px;
}

.light-dark {
    position: absolute;
    left: 2px;
    background-color: color-mix(in oklab, var(--color-theme-fg) 10%, transparent);
    border-radius: 16px;
    padding: 11px 22px 11px 16px;   
    z-index: 10;
}